apiVersion: v1
kind: Service
metadata:
  name: lei
  namespace: lei
  labels:
    app: lei
    app.kubernetes.io/name: lowendinsight
spec:
  type: ClusterIP
  ports:
    - port: 4000
      targetPort: 4000
      protocol: TCP
      name: http
  selector:
    app: lei
