name: default_elixir_ci

on:
  push:
  pull_request:
    types: [opened]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      MIX_ENV: test
      CI: true
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    
    steps:
    - uses: actions/checkout@v1
    - name: Setup OS deps
      run: |
        sudo apt-get update && sudo apt-get install -y git libssl-dev
    - name: Setup Elixir
      uses: erlef/setup-beam@v1
      with:
        elixir-version: 1.14.1
        otp-version: 25.2
    - name: Install Dependencies
      run: |
        mix local.rebar --force
        mix local.hex --force
        mix deps.get
    - name: Run Tests
      run: |
        git config --global --add safe.directory /__w/lowendinsight/lowendinsight
        MIX_ENV=test mix coveralls.github --trace --exclude network --exclude long
        MIX_ENV=test mix docs
    - name: LowEndInsight Scan
      run: |
        mix lei.scan .
  audit:      
    runs-on: ubuntu-latest
    env:
      MIX_ENV: test
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    container:
      image: elixir:1.14.2-alpine

    steps:
    - uses: actions/checkout@v1
    - name: Install Dependencies
      run: |
        apk add git
        mix local.rebar --force
        mix local.hex --force
        mix deps.get
    - name: Run Audit
      run: |
        MIX_ENV=test mix deps.audit    

        

