name: default_elixir_ci

on:
  push:
  pull_request:
    types: [opened]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      MIX_ENV: test
      CI: true
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
    - uses: actions/checkout@v4
    - name: Setup Elixir
      uses: erlef/setup-beam@v1
      with:
        elixir-version: 1.16.3
        otp-version: 26.2
    - name: Install Dependencies
      run: |
        mix local.rebar --force
        mix local.hex --force
        mix deps.get
    - name: Run Tests
      run: |
        git config --global --add safe.directory /__w/lowendinsight/lowendinsight
        MIX_ENV=test mix coveralls.github --exclude network --exclude long
    - name: Generate Docs
      run: |
        MIX_ENV=dev mix docs
    - name: LowEndInsight Scan
      run: |
        mix lei.scan .

  audit:
    runs-on: ubuntu-latest
    env:
      MIX_ENV: test
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    container:
      image: elixir:1.16.3-alpine

    steps:
    - uses: actions/checkout@v4
    - name: Install Dependencies
      run: |
        apk add git
        mix local.rebar --force
        mix local.hex --force
        mix deps.get
    - name: Run Audit
      run: |
        MIX_ENV=test mix deps.audit
